@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blur {
  filter: blur(20px);
  pointer-events: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 1.5s;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #eb5e28; /* Set the color of the scrollbar thumb */
}
::-webkit-scrollbar-track {
  background-color: #ccc5b9; /* Set the color of the scrollbar track */
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px;
  overflow: auto;
  line-height: 1.5;
  margin-bottom: 20px;
}
code {
  color: #f8f8f8;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #333;
  white-space: pre-wrap;
}
